@import url('https://fonts.googleapis.com/css?familyPoppins:100,200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #191622;
}

.container {
  position: relative;
}

.container .card {
  position: relative;
  width: 320px;
  height: 450px;
  background: #201b2d;
  border-radius: 20px;
  overflow: hidden;

  margin: 0.5rem;
}

.container .card:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #ff5858 0%, #f09819 100%);
  clip-path: circle(0px at 50% 50%);
  transition: 0.5s ease-in-out;
}

.container .card:hover:before {
  clip-path: circle(400px at 50% 50%);
}

.container .card .imgBox {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 1s;
}

.container .card:hover .imgBox {
  top: 15%;
  transform: translateY(0%);
}

.container .card .imgBox img {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 40%;
}

.container .card .contentBox {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container .card:hover .contentBox {
  height: 145px;
}

.container .card .contentBox h2 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #FFF;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
}

.container .card:hover .contentBox h2 {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: .3s;
}

.container .card .contentBox a {
  display: inline-block; 
  padding: 10px 20px;
  background: #3cba92 ;
  border-radius: 16px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #FFF;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
}

.container .card:hover .contentBox a { 
  opacity: 1;
  transform: translateY(0px);
  transition-delay: .3s;
}
