* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card {
  max-width: 350px;
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  padding: 30px;
}

.card .header {
  display: flex;
  align-items: center;
}

.card .header .img {
  height: 70px;
  width: 70px;
  background: #d9d9d9;
  border-radius: 50%;
}

.header .details {
  margin-left: 20px;
}

.details span {
  background: #d9d9d9;
  display: block;
  border-radius: 10px;
}

.details .name {
  width: 100px;
  height: 15px;
}

.details .about {
  width: 150px;
  height: 13px;
  margin-top: 10px;
}