body {
  font-family: sans-serif;
  margin: 0;
  line-height: 1.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.login-page {
  min-height: 100vh;
  padding: 1.5rem;
  background-color: #EEEEEE;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.login-page .box {
  background-image: url('./bg.jpg');
  background-size: cover;
  flex: 0 0 700px;
  max-width: 700px;
  min-height: 480px;
  box-shadow: 0 0 10px #DDDDDD;

  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}

.login-page .box::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.4);
}

.login-page .box .left,
.login-page .box .right {
  flex: 0 0 50%;
  max-width: 50%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-page .box .left h3,
.login-page .box .right h3 {
  font-size: 20px;
  color: #FFF;
  margin: 0 0 15px;
} 

.login-page .box .left .register-btn,
.login-page .box .right .login-btn {
  background-color: transparent;
  padding: 10px 35px;
  color: #FFF;
  border: 1px solid #FFF;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
}