@import url('https://fonts.googleapis.com/css?familyPoppins:100,200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'JetBrains Mono';
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #191622;
}

.container {
  width: 20rem;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.container .card {
  position: relative;
  width: 300px;
  height: 200px;
}

.container .card .face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.container .card .face.face1 {
  background: #201b2d;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform-origin: bottom;
}

.container .card .face.face1 img {
  max-width: 100px;
  color: #e1e1e6;
}

.container .card .face.face1 h3 {
  margin: 10px 0 0;
  color: #67e480;
  text-align: center;
  font-size: 1.5em;
}

.container .card .face.face2 p {
  font-size: 14px;
  font-weight: bold;
}

.container .card:hover .face.face1 {
  transform: translateY(-100%) rotateX(90deg);
  background: #67e480;
}

.container .card .face.face2 {
  background: #e1e1e6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transform-origin: top;
  transform: translateY(100%) rotateX(90deg);
}

.container .card:hover .face.face2 {
  transform: translateY(0%) rotateX(0deg);
}