:root {
  --color-black: #2F3240;
}

body {
  font-family: sans-serif;
  background-color: #E8EEF3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: space-between;
}

.header {
  background-color: var(--color-black);
  padding: 12px 0;
  line-height: 1.5;
}

.header .logo,
.header .nav {
  padding: 0 15px;
}

.header .logo a {
  font-size: 30px;
  color: #FFF;
  text-transform: capitalize;
}

.header .nav ul li {
  display: inline-block;
  margin-left: 40px;
}

.header .nav ul li a {
  display: block;
  font-size: 16px;
  text-transform: capitalize;
  color: #FFF;
  padding: 10px 0;
  transition: all 0.5s ease;
}

/* .header .nav ul li a.active,
.header .nav ul li a:hover {
  color: #F3A93D;
} */